.cart-item-name{
    color: dodgerblue;
}
.cart-item-price{
    color: goldenrod;
    font-size: 14px;
}
.btn-remove{
    background-color: red;
    padding: 10px;
    color: white;
    border: none;
}
.cart-container{
    background-color: white;
    padding: 10px;
}
.cart-container img{
    width:200px ;
    height: auto;
}
.cart-item-img-container{
    padding: 10px;
}

.cart-product{
    background-color: whitesmoke;
    margin: 20px;
    width: 250px;
    padding: 15px;
}