.btn-signup{
    padding: 15px;
    border: none;
    width: 100%;
    color: white;
    font-weight: bolder;
    margin-top: 5px;
}

.signup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#102C47;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: center;
    overflow-y: scroll;
}
.signup{
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin: 20px;
}
.terms{
    margin-top: 17px !important;
}
.signup div{
    margin: 5px;
    font-size: 13px;
    color: rgb(168, 168, 168);
}
.signup-overlay .logo{
    color: white;
    font-size: 30px;
    margin-top:40px;
    margin-bottom: -10px;
}
.signup-input{
    padding: 15px;
    width: 100%;
    border: solid 1px #DEE5E7;
}

.signup-overlay span{
    font-size: 14px;
    color: rgb(235, 233, 233);

}
.signup-overlay a{
    color: white;
    font-weight: bolder;
}
.signup a{
    color: #282828;
    font-weight: lighter;
}
.signup span{
    color: rgb(153, 152, 152);
    font-size: 13px !important;
}
@media(max-width: 320px) {
    .signup-input{
        padding: 8px;
    }
    .signup div{
        margin: 0px;
        margin-bottom: 10px;
        font-size: 10px;
    }
    .signup{
        padding: 10px;
        margin: 5px;
    }
    .btn-signup{
        padding: 8px;
    }
}