body{
  background-color: #f5f5f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #282828;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tag{
    background-color: rgb(102, 29, 170);
    width: 200px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    margin: 10px;
    font-weight: bolder;
}

@media(min-width:901px){
  .nav_and_flatlist{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
  }
  .tag{
    margin-top: 25px;
    font-size: 18px;
    padding: 15px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
